.header{
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    background-color:#8BC34A;
    margin: 0 auto;
  
}
#contenido{
  
    background-color:#DCEDC8;
    background-image: linear-gradient( 320deg, rgba(139, 195, 74, 0.3), rgba(220, 237, 200, 0.9) ), url('icons8-leaf-64.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h3{
    color: black;
}
#title{
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    padding-bottom: 10px;
}
.footer{
    background-color: #BDBDBD;
    border: 2px solid #757575;
   
   
}
#informacion{
    color:black;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-size: 25px;
}
#home{
    font-family: 'Cabin', sans-serif;
    color: black;
    
}
.list-group-fluid{
    background-color: gray;
    border: 1px solid gray;
}
